<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <title>page is updating</title>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="refresh" content="5">
    <meta http-equiv="cache-control" content="no-cache">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">

</head>
<body>
This page is currently updating. Please try later!
</body>
</html>